# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
.env/
venv/
env/
pip-log.txt
pip-delete-this-directory.txt

# Raspberry Pi / Linux
*.swp
*.swo
*.bak
*.log
*.db
*.sqlite
*.tmp
*.DS_Store

# Arduino
*.elf
*.hex
*.eep
*.bin
*.dmp
*.obj
*.dep
*.lst
*.map

# ROS / ROS2
build/
devel/
install/
log/
*.msg
*.srv
*.action

# 3D CAD / 3D Printing
*.stl
*.step
*.stp
*.obj
*.3mf
*.gcode
*.svg
*.scad
*.amf

# Misc
*.zip
*.tar.gz
*.rar
*.7z
*.bak
.idea/
.vscode/
